* {
    text-align: center;
    font-family: monospace;
    font-weight: bold;
}

.f-row {
    background-color: rgb(236, 234, 234);
    width: 50px;
    height: 40px;
    text-align: center;
}

.pink-color {
    background-color: rgb(253, 116, 139);
    border: 1px solid black;
}

.gray-color {
    background-color: rgb(228, 228, 228);
}

.yellow-color {
    background-color: rgb(255, 255, 59);
    border: 1px solid black;
}

.blue-color {
    background-color: rgb(24, 149, 221);
    border: 1px solid black;
}

.empty {
    background-color: rgb(255, 195, 204);
    border: 1px solid black;
}

.green-color {
    background-color: rgb(144, 248, 103);
    border: 1px solid black;
}

.brown-color {
    background-color: rgb(184, 153, 15);
    border: 1px solid black;
}

.orange-color {
    background-color: rgb(255, 84, 41);
    border: 1px solid black;

}




.l-brown {
    background-color: rgb(245, 192, 79);
    border: 1px solid black;
}

.white-color {
    background-color: white;
    border: 1px solid black;
}


.last-line {
    background-color: rgb(196, 189, 189);
    color: rgb(29, 138, 29);
    border: 1px solid black;
}

.for-color {
    color: rgb(165, 33, 33);
}

.for-font {
    color: rgb(6, 105, 6);
}


.sec-last-row {
    background-color: rgb(243, 191, 206);
    border: 1px solid black;
}